<div class="credit-container">
  <div class="header">
    <h1><strong>Заполните онлайн-заявку</strong></h1>
    <span style="display: flex;">Мы снизили процентную ставку <div class="myLabe">{{percent}}</div></span>
    <div class="progressBar">
      <div class="progressBar-text">
        <h2>Шаг 1</h2>
        <a href="#">Далее - расскажите о себе</a>
      </div>
      <mat-progress-bar class="firstProgressBar" mode="determinate" value=20></mat-progress-bar>
    </div>
  </div>
  <div class="body">
    <h2><strong>Выберите условия кредита</strong></h2>
    <app-credit-calculator></app-credit-calculator>
  </div>
  <mat-slide-toggle color="primary">Я получил запрплату на карту ВТБ</mat-slide-toggle>

  <div class="footer">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <div class="footer-text">
      <h2>Вы уже клиент ВТБ</h2>
      <span>Можно оформить кредит в ВТБ Онлайн</span>
    </div>
  </div>
</div>
