<div class="credit-container">
  <div class="header">
    <h1 class="title">Заполните онлайн-заявку</h1>
    <span class="header-text">Мы снизили процентную ставку <div class="myLabel">{{percent}}</div></span>
    <div class="progressBar">
      <div class="progressBar-text">
        <h2>Шаг 1</h2>
        <a href="#">Далее - расскажите о себе</a>
      </div>
      <mat-progress-bar class="firstProgressBar" mode="determinate" value=20></mat-progress-bar>
    </div>
  </div>
  <div class="body">
    <h2><strong>Выберите условия кредита</strong></h2>
    <app-credit-calculator></app-credit-calculator>
    <mat-slide-toggle color="primary"><span>Я получил запрплату на карту ВТБ</span></mat-slide-toggle>
  </div>

  <div class="footer">
    <mat-icon>error</mat-icon>
    <div class="footer-text">
      <h2>Вы уже клиент ВТБ</h2>
      <span>Можно оформить кредит в ВТБ Онлайн</span>
    </div>
  </div>
</div>
