/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

body{
  width: 80%;
  margin:0 auto;
}

a{
  text-decoration: none;
  color: grey;
}
